
@font-face {
  font-family: 'IBM_DOS_ISO9';
  src: local('IBM_DOS_ISO9'), url(./fonts/Ac437_IBM_DOS_ISO9.ttf) format('truetype');
}

@font-face {
  font-family: 'AcPlus_IBM_VGA_8x14';
  src: local('AcPlus_IBM_VGA_8x14'), url(./fonts/AcPlus_IBM_VGA_8x14.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.iPadShowKeyboard {
  display: none;
}
